.Search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.Search input {
  border: 1px solid var(--light-gray);
  width: 270px;
  height: 45px;
  padding: 5px 14px;
  font-size: 0.9rem;
  outline: none;
}
.Search button {
  width: 45px;
  aspect-ratio: 1;
  border: none;
  background-color: var(--primary);
  color: #fff;
  cursor: pointer;
}
@media (min-width: 1000px) {
  .Search input {
    width: 90%;
  }
  .Search button {
    width: 90px;
    height: 45px;
    font-size: 1.7rem;
  }
}
